// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2024 Radxa Computer (Shenzhen) Co., Ltd.
 *
 */

/dts-v1/;

#include "rk3588s-radxa-nx5.dtsi"

/ {
	model = "Radxa NX5 CarMod";
	compatible = "radxa,nx5-io", "rockchip,rk3588";

	fan0: pwm-fan {
	 	compatible = "pwm-fan";
	 	#cooling-cells = <2>;
	 	cooling-levels = <0 64 128 192 255>;
	 	pwms = <&pwm12 0 60000 0>;	
	 	fan-supply = <&vcc4v0_sys>;
	};

	vcc3v3_pcie_m: vcc3v3-pcie-m {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie_m";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <5000>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		gpio = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie_m_en_pctrl>;
	};

	vcc3v3_pcie_e: vcc3v3-pcie-e {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie_e";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <10000>;
		gpio = <&gpio3 RK_PD4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie_e_en_pctrl>;
	};
	vcc3v3_pcie_b: vcc3v3-pcie-b {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_pcie_b";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <10000>;
		gpio = <&gpio3 RK_PD2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
		pinctrl-names = "default";
		pinctrl-0 = <&pcie_b_en_pctrl>;
	};

	hub_en: hub-en {
		compatible = "regulator-fixed";
		regulator-name = "hub_en";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		startup-delay-us = <10000>;
		gpio = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&hub_en_pctrl>;
	 	regulator-boot-on;
		regulator-always-on;
	};

	m2b_pren: m2b_pren {
		compatible = "regulator-fixed";
		regulator-name = "hub_en";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		startup-delay-us = <10000>;
		gpio = <&gpio1 RK_PC7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&hub_en_pctrl>;
	 	regulator-boot-on;
		regulator-always-on;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&led0_en &led1_en>;
		pinctrl-names = "default";
		state_led {
			gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};
	};

	// Fake ... 
	vcc5v0_sys: vcc5v0-sys {
    	compatible = "regulator-fixed";
    	regulator-name = "vcc5v0_sys";
    	regulator-min-microvolt = <5000000>;
    	regulator-max-microvolt = <5000000>;
    	regulator-boot-on;
    	regulator-always-on;
	};

};

&pwm12 {
 	pinctrl-0 = <&pwm12m1_pins>;
 	status = "okay";
};

&soc_thermal {
	sustainable-power = <5000>; /* milliwatts */
	cooling-maps {
		map4 {
			trip = <&target>;
			cooling-device =
				<&fan0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			contribution = <8192>;
		};
		map5 {
			trip = <&threshold>;
			cooling-device =
				<&fan0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			contribution = <8192>;
		};
	};
};

&threshold {
	temperature = <60000>;
};

&combphy0_ps {
	status = "okay";
};


&i2c1 {
  status = "okay";
  pinctrl-0 = <&i2c1m4_xfer>;

  vin-3v3@40 {
    compatible = "ti,ina219";
    reg = <0x40>;
    shunt-resistor = <5000>;
    label = "3V3 / Pre regulator";
  };

  3v3-eth@41 {
    compatible = "ti,ina219";
    reg = <0x41>;
    shunt-resistor = <5000>;
    label = "3V3 / Ethernet";
  };

  3v3-sys@42 {
    compatible = "ti,ina219";
    reg = <0x42>;
    shunt-resistor = <5000>;
    label = "3V3 / System";
  };

  3v3-m2@43 {
    compatible = "ti,ina219";
    reg = <0x43>;
    shunt-resistor = <5000>;
    label = "3V3 / M.2";
  };

  vin-4v0@44 {
    compatible = "ti,ina219";
    reg = <0x44>;
    shunt-resistor = <5000>;
    label = "4V0 / Pre regulator";
  };

  4v0-nx5@45 {
    compatible = "ti,ina219";
    reg = <0x45>;
    shunt-resistor = <5000>;
    label = "4V0 / NX5";
  };

  vin-5v0@46 {
    compatible = "ti,ina219";
    reg = <0x46>;
    shunt-resistor = <5000>;
    label = "5V0 / Pre regulator";
  };

  5v0-usb@47 {
    compatible = "ti,ina219";
    reg = <0x47>;
    shunt-resistor = <5000>;
    label = "5V0 / USB";
  };

  5v0-wifi@48 {
    compatible = "ti,ina219";
    reg = <0x48>;
    shunt-resistor = <5000>;
    label = "5V0 / WiFi";
  };

  12v0-reg@49 {
    compatible = "ti,ina219";
    reg = <0x49>;
    shunt-resistor = <5000>;
    label = "12V0 / Boost regulator";
  };

  12v0-poe@4a {
    compatible = "ti,ina219";
    reg = <0x4a>;
    shunt-resistor = <5000>;
    label = "12V0 / PoE";
  };

};

&i2c5 {
  status = "okay";
  pinctrl-0 = <&i2c5m2_xfer>;

  fan_controller: fan-controller@2c {
    compatible = "microchip,emc2305";
    reg = <0x2c>;

    #address-cells = <1>;
    #size-cells = <0>;
    #pwm-cells = <3>;

    fan@0 {
      reg = <0x0>;
      pwms = <&fan_controller 26000 0 1>;
      #cooling-cells = <2>;
    };

    fan@1 {
      reg = <0x1>;
      pwms = <&fan_controller 26000 0 1>;
      #cooling-cells = <2>;
    };

    fan@2 {
      reg = <0x2>;
      pwms = <&fan_controller 26000 0 1>;
      #cooling-cells = <2>;
    };

    fan@3 {
      reg = <0x3>;
      pwms = <&fan_controller 26000 0 1>;
      #cooling-cells = <2>;
    };

    fan@4 {
      reg = <0x4>;
      pwms = <&fan_controller 26000 0 1>;
      #cooling-cells = <2>;
    };
  };
};

&i2c7 {
  status = "okay";
  pinctrl-0 = <&i2c7m0_xfer>;

  mux@70 {
    compatible = "nxp,pca9548";
    #address-cells = <1>;
    #size-cells = <0>;
    reg = <0x70>;

    i2c@0 {
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <0>;

      sensor@48 {
        compatible = "ti,tmp102";
        reg = <0x48>;
        
        #thermal-sensor-cells = <1>;
      };

      sensor@49 {
        compatible = "ti,tmp102";
        reg = <0x49>;
        
        #thermal-sensor-cells = <1>;
      };
    };

    i2c@1 {
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <1>;

      sensor@48 {
        compatible = "ti,tmp102";
        reg = <0x48>;
        
        #thermal-sensor-cells = <1>;
      };

      sensor@49 {
        compatible = "ti,tmp102";
        reg = <0x49>;
        
        #thermal-sensor-cells = <1>;
      };
    };

    i2c@2 {
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <2>;

      sensor@48 {
        compatible = "ti,tmp102";
        reg = <0x48>;
        
        #thermal-sensor-cells = <1>;
      };

      sensor@49 {
        compatible = "ti,tmp102";
        reg = <0x49>;
        
        #thermal-sensor-cells = <1>;
      };
    };

    i2c@3 {
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <3>;

      sensor@48 {
        compatible = "ti,tmp102";
        reg = <0x48>;
        
        #thermal-sensor-cells = <1>;
      };

      sensor@49 {
        compatible = "ti,tmp102";
        reg = <0x49>;
        
        #thermal-sensor-cells = <1>;
      };
    };

    i2c@4 {
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <4>;

      sensor@48 {
        compatible = "ti,tmp102";
        reg = <0x48>;
        
        #thermal-sensor-cells = <1>;
      };

      sensor@49 {
        compatible = "ti,tmp102";
        reg = <0x49>;
        
        #thermal-sensor-cells = <1>;
      };
    };

    i2c@5 {
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <5>;

      sensor@48 {
        compatible = "ti,tmp102";
        reg = <0x48>;
        
        #thermal-sensor-cells = <1>;
      };

      sensor@49 {
        compatible = "ti,tmp102";
        reg = <0x49>;
        
        #thermal-sensor-cells = <1>;
      };
    };

    i2c@6 {
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <6>;

      sensor@48 {
        compatible = "ti,tmp102";
        reg = <0x48>;
        
        #thermal-sensor-cells = <1>;
      };

      sensor@49 {
        compatible = "ti,tmp102";
        reg = <0x49>;
        
        #thermal-sensor-cells = <1>;
      };
    };

    i2c@7 {
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <7>;

      sensor@48 {
        compatible = "ti,tmp102";
        reg = <0x48>;
        
        #thermal-sensor-cells = <1>;
      };

      sensor@49 {
        compatible = "ti,tmp102";
        reg = <0x49>;
        
        #thermal-sensor-cells = <1>;
      };
    };
  };
};

// M.2 M-Key
&pcie2x1l2 {
	vpcie3v3-supply = <&vcc3v3_pcie_m>;
	reset-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

// M.2 E-Key 

&pcie2x1l1 { // check lane
	vpcie3v3-supply = <&vcc3v3_pcie_e>;
	reset-gpios = <&gpio1 RK_PA7 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&combphy2_psu {
	status = "okay";
};

&usbhost3_0 {
	status = "okay";
};

&usbhost_dwc3_0 {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&u2phy3 {
	status = "okay";
};

&u2phy3_host {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&u2phy2 {
	status = "okay";
};

&u2phy2_host {
	status = "okay";
};

&u2phy0 {
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
};

&usbdrd3_0 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	status = "okay";
	phys = <&u2phy0_otg>;
	phy-names = "usb2-phy";
	maximum-speed = "high-speed";
	extcon = <&u2phy0>;
	dr_mode = "host";
	/* Fix usb suspend failure */
	snps,dis_u3_susphy_quirk;
};

&sdhci {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vop {
	status = "okay";
};

&vop_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vp0 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER0 | 1 << ROCKCHIP_VOP2_ESMART0)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_CLUSTER0>;
	cursor-win-id = <ROCKCHIP_VOP2_ESMART0>;
};

&vp1 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER1 | 1 << ROCKCHIP_VOP2_ESMART1)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_CLUSTER1>;
	cursor-win-id = <ROCKCHIP_VOP2_ESMART1>;
};

&vp2 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER2 | 1 << ROCKCHIP_VOP2_ESMART2)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_CLUSTER2>;
	cursor-win-id = <ROCKCHIP_VOP2_ESMART2>;
};

&vp3 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER3 | 1 << ROCKCHIP_VOP2_ESMART3)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_CLUSTER3>;
	cursor-win-id = <ROCKCHIP_VOP2_ESMART3>;
};

&sdmmc {
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3_s0>;
	vqmmc-supply = <&vccio_sd_s0>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_bus4 &sdmmc_clk &sdmmc_cmd &sdmmc_det>;
	status = "okay";
};

/* Fix the issue of board howling */
&vdd_cpu_big0_s0 {
	regulator-initial-mode = <1>;
};

&vdd_cpu_big1_s0 {
	regulator-initial-mode = <1>;
};

&vdd_npu_s0 {
	regulator-initial-mode = <1>;
};

&vdd_gpu_s0 {
	regulator-initial-mode = <1>;
};

&vdd_cpu_lit_s0 {
	regulator-initial-mode = <1>;
};

&vdd_log_s0 {
	regulator-initial-mode = <1>;
};

&vdd_vdenc_s0 {
	regulator-initial-mode = <1>;
};

&vdd_ddr_s0 {
	regulator-initial-mode = <1>;
};

&vdd2_ddr_s3 {
	regulator-initial-mode = <1>;
};

&vcc_2v0_pldo_s3 {
	regulator-initial-mode = <1>;
};

&vcc_3v3_s3 {
	regulator-initial-mode = <1>;
};

&vddq_ddr_s0 {
	regulator-initial-mode = <1>;
};

&vcc_1v8_s3 {
	regulator-initial-mode = <1>;
};

&pinctrl {

	pcie_m {
		pcie_m_en_pctrl: pcie-m-en {
			rockchip,pins = <3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	pcie_e {
		pcie_e_en_pctrl: pcie-e-en {
			rockchip,pins = <3 RK_PD4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	pcie_b {
		pcie_b_en_pctrl: pcie-b-en {
			rockchip,pins = <3 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wifi {
		wifi_en_pctrl: wifi-en {
			rockchip,pins = <3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		wifi_rst_pctrl: wifi-rst {
			rockchip,pins = <3 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	hub {
		hub_en_pctrl: hub-en {
			rockchip,pins = <4 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	led {
		led1_en: led1-en {
			rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&gpio0 {
	gpio-line-names =
		/* GPIO0_A0-A3 */
		"", "", "", "",
		/* GPIO0_A4-A7 */
		"", "", "", "",

		/* GPIO0_B0-B3 */
		"", "", "NX5.32K", "",
		/* GPIO0_B4-B7 */
		"", "DebugSerial.TXO", "DebugSerial.RXI", "",

		/* GPIO0_C0-C3 */
		"", "", "", "",
		/* GPIO0_C4-C7 */
		"", "BMC.I2C.SDA", "BMC.I2C.SCL", "M2.E.nDIS2",

		/* GPIO0_D0-D3 */
		"M2.E.nDIS1", "", "", "",
		/* GPIO0_D4-D7 */
		"", "", "", "";
};

&gpio1 {
	gpio-line-names =
		/* GPIO1_A0-A3 */
		"M2.E.PCIE.nWAKE", "M2.E.PCIE.nCLKREQ", "", "",
		/* GPIO1_A4-A7 */
		"", "", "", "M2.E.PCIE.nRST",

		/* GPIO1_B0-B3 */
		"", "", "", "",
		/* GPIO1_B4-B7 */
		"", "", "", "",

		/* GPIO1_C0-C3 */
		"", "", "", "M2.B.IO11",
		/* GPIO1_C4-C7 */
		"", "M2.B.DEVSLP", "", "M2.B.PWREN",

		/* GPIO1_D0-D3 */
		"I2C7.M0.SCL", "I2C7.M0.SDA", "I2C1.M4.SCL", "I2C1.M4.SDA",
		/* GPIO1_D4-D7 */
		"M2.B.DEVSLP", "", "", "";
};

&gpio2 {
	gpio-line-names =
		/* GPIO2_A0-A3 */
		"", "", "", "",
		/* GPIO2_A4-A7 */
		"", "", "", "",

		/* GPIO2_B0-B3 */
		"", "", "", "",
		/* GPIO2_B4-B7 */
		"", "", "", "",

		/* GPIO2_C0-C3 */
		"", "", "", "",
		/* GPIO2_C4-C7 */
		"", "", "", "",

		/* GPIO2_D0-D3 */
		"", "", "", "",
		/* GPIO2_D4-D7 */
		"", "", "", "";
};

&gpio3 {
	gpio-line-names =
		/* GPIO3_A0-A3 */
		"", "", "", "",
		/* GPIO3_A4-A7 */
		"", "", "", "",

		/* GPIO3_B0-B3 */
		"", "", "", "",
		/* GPIO3_B4-B7 */
		"", "", "", "WiFi.RST",

		/* GPIO3_C0-C3 */
		"WiFi.EN", "", "", "",
		/* GPIO3_C4-C7 */
		"", "", "", "",

		/* GPIO3_D0-D3 */
		"M2.M.nWAKE", "M2.M.nRST", "M2.B.PWR.EN", "M2.B.nDIS1",
		/* GPIO3_D4-D7 */
		"M2.E.PWR.EN", "M2.M.PWR.EN", "", "";
};

&gpio4 {
	gpio-line-names =
		/* GPIO4_A0-A3 */
		"", "", "", "",
		/* GPIO4_A4-A7 */
		"", "ETH.PoE.EN", "I2C5.M2.SCL", "I2C5.M2.SDA",

		/* GPIO4_B0-B3 */
		"", "", "HUB.EN", "",
		/* GPIO4_B4-B7 */
		"", "M2.B.nRST", "", "",

		/* GPIO4_C0-C3 */
		"", "", "", "",
		/* GPIO4_C4-C7 */
		"", "", "", "",

		/* GPIO4_D0-D3 */
		"", "", "", "",
		/* GPIO4_D4-D7 */
		"", "", "", "";
};